        body {
            margin: 0;
            height: 100vh;

            /* Purple gradient */
            background: linear-gradient(135deg, #b27bff, #6f3cff);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            font-family: Arial, sans-serif;
            color: white;
        }


        input, select, button {
            padding: 10px;
            margin: 8px;
            border-radius: 8px;
            border: none;
            font-size: 1rem;
        }

        button {
            background: white;
            color: #5b1fd9;
            font-weight: bold;
            cursor: pointer;
        }

        #insert {
            margin-top: 20px;
            font-size: 1.4rem;
            font-weight: bold;
        }

