body{
    background-color: #ba8cd9;
}
th, td {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.3);
  padding: 10px;
}
th, td{
    border-style: inset;
}
th, td{
    background-color:hsl(280, 74%, 79%);
    border-color: #240128;
}
a:link {
    color: #240128;
    text-decoration: none;
}
a:visited {
    color: #240128;
    text-decoration: none;
}
a:hover {
    color: #240128;
    text-decoration: underline;
}
a:active {
    color: #240128;
    text-decoration: underline;
}