h1 {color: rgb(130, 26, 100); background-color: lightsalmon;}
        h3 {
            color: darkblue;
            background-color: rgb(149, 182, 248);
            border: 4px solid rgb(42, 42, 134);
        }